<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1A2B Guess Number</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./robot.js"></script>
</head>

<body>
    <div class="main" id="app">
        <div class="container left">
            <button @click="start()">Start/Reset</button>
            <hr>
            <div v-show="answer.length>0">
                <div><input type="text" v-model="currentValue" /></div>
                <div class="errorMessage">{{error}}</div>
                <div><button @click="check()">Send</button></div>
                <div><button @click="help()">Automatic</button></div>
            </div>
        </div>
        <div class="container right">
            <div>History</div>
            <hr>
            <ul>
                <li v-for="item in triedList">
                    <span class="result">{{item.result}}</span>
                    <span class="hint">{{item.hint}}</span></li>
                <li class="finished" v-show="isFinished">
                    <hr>
                    Done! You use {{triedList.length}} times.
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="./main.js"></script>
</html>