#app{
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-size: 16px;
    width: 600px;
    margin: 0 auto;
}
button{
    font-size: 15px;
}
ul,li{
    list-style: none;
    padding: initial;
}
span.result{
    margin-right: 8px;
}