body {
  font-family: Meiryo, sans-serif;
  font-size: 16px;
}
button,
input {
  font-size: 15px;
}
ul,
li {
  list-style: none;
  padding: initial;
}
hr {
  border-color: #eaeaea;
}
.main {
  display: flex;
  flex-direction: row;
}
.container {
  margin: 4px;
  padding: 8px;
  border: 1px solid #ccc;
  box-shadow: #eee 0px 0px 9px;

  &.left {
    height: auto;
    width: 150px;

    input {
      text-align: center;
      font-size: 30px;
      margin: 4px 0;
      width: 96%;
      &::placeholder{
        color: #ccc;
      }
    }
    button {
      width: 100%;
      height: 36px;
    }
  }
  &.right {
    width: 250px;

    ul {
      margin: 0;
      height: 220px;
      overflow-y: scroll;
    }

    span.result {
      margin-right: 8px;
    }
  }
}

.errorMessage {
  color: red;
  font-size: 12px;
}
